<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1 class="he">Appointment Page - Admin</h1><hr>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--<h7>Action Buttons: </h7>-->
                    <a type="button"  class="btn btn-primary">+ Add Appointment</a>
                    <a type="button" href="/" class="btn btn-primary">+ Add Customer</a>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12">
                    <h7>Product Details:</h7><br><br>

                    <table class="table" >
                      <thead>
                        <tr>
                          <th scope="col" style="width: 30px">#</th>
                          <th scope="col" style="width: 60px">Product Type</th>
                          <th scope="col" style="width: 60px">Product Name</th>
                          <th scope="col" style="width: 20px">Qty</th>
                          <th scope="col" style="width: 20px">Price</th>
                          <th scope="col" style="width: 60px">Supplier Name</th>
                        </tr>
                      </thead>
                      <tbody id="productBody">
                            <!-- Automatic populate -->
                      </tbody>
                    </table>


                </div>
            </div>

        </div>
        <hr>
    </div>
    <div class="container-fluid container_section">
        <div class="row">
            <div class="col-md-4">

                <h3>Appointment Details </h3>



                <hr>
                <div class="form-group">
                    <label for="selectID">Select ID:</label>
                    <select name="id" class="form-control" id="selectID" required>
                        <option value="">--- Select ID ---</option>
                        {% for i in appointment_details %}
                            <option value="{{ i.id }}">{{ i.id }}</option>
                        {% endfor %}
                    </select><br>

                    <label for="appointmentDate">Appointment's Date:</label><br>
                    <input type="date" class="form-control" name="appointmentDate" id="appointmentDate"><br>

                    <label for="appointmentDate">Appointment's Time:</label><br>
                    <input type="time" class="form-control" name="appointmentTime" id="appointmentTime"><br>

                    <label for="appointmentDate">Appointment's Status:</label><br>
                    <input type="text" class="form-control" placeholder="Appointment Status" name="appointmentStatus" id="appointmentStatus"><br>

                    <label for="appointmentDate">Appointment's Notes:</label><br>
                    <textarea class="form-control" placeholder="Customer's Note" id="customerNotes" name="customerNotes" rows="4" cols="50"></textarea><br>
                    <!--<input type="submit" class="btn btn-primary" value="Submit" name="submitBtn" id="submitBtn">-->
                </div>
            </div>

            <div class="col-md-4">
                <h3>Customer's Details</h3><hr>

                    <label for="customersName">Name:</label><br>
                    <input type="text" class="form-control" name="customersName" id="customersName"><br>

                    <label for="customersGender">Gender:</label>
                    <input type="text" class="form-control" name="customersGender" id="customersGender"><br>


                    <label for="customersName">Phone:</label><br>
                    <input type="phone" class="form-control" name="customersPhone" id="customersPhone"><br>

                    <label for="customersEmail">Email:</label><br>
                    <input type="email" class="form-control" name="customersEmail" id="customersEmail"><br>

            </div>

            <div class="col-md-4">
                <h3>Necessary Items</h3><hr>
                <!-- Add input fields or content here if needed -->

                <div class="container">
                    <h5>Add Necessary Items</h5><hr>

                    <form action="/api/insert_necessary_items/" method="POST">
                        <div class="row">
                                <input type="hidden" class="form-control" name="appointmentselectedId" id="appointmentselectedId" placeholder="Hidden ID">

                                <div class="col-md-6">
                                    <label for="customersName">Product Name:</label><br>

                                    <select name="productId" class="form-control" id="productId">
                                        <option value="">--- Select ID ---</option>
                                        {% for i in product %}
                                            <option value="{{ i.id }}">{{ i.productName }}</option>
                                        {% endfor %}
                                    </select><br>

                                </div>

                                <div class="col-md-6">
                                    <label for="customersGender">Product Qty:</label>
                                    <input type="number" class="form-control" name="productQty" id="productQty"><br>
                                </div>

                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="+ Add Necessary Item" style="width: 100%"><br>
                                </div>

                        </div>
                    </form>


                    <hr><br>
                </div>

                <table class="table" >
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Qty</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
                        <!-- Automatic populate -->
                  </tbody>
                </table>



            </div>



        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectElement = document.getElementById('selectID');
            const customersNameInput = document.getElementById('customersName');
            const customersGenderInput = document.getElementById('customersGender');
            const customersPhoneInput = document.getElementById('customersPhone');
            const customersEmailInput = document.getElementById('customersEmail');
            const appointmentselected = document.getElementById('appointmentselectedId');
            const appointmentStatusInput = document.getElementById('appointmentStatus');
            const customerNotesInput = document.getElementById('customerNotes');
            const appointmentDateInput = document.getElementById('appointmentDate');
            const appointmentTimeInput = document.getElementById('appointmentTime');
            const tableBody = document.getElementById('tableBody');
            const productBody = document.getElementById('productBody');


            fetch(`/api/inventory/product/`)
                .then(response => response.json())
                .then(productItemsData => {
                    const productBody = document.getElementById('productBody'); // Get the table body element

                    productBody.innerHTML = ''; // Clear existing table rows

                    if (productItemsData.length > 0) {
                        productItemsData.forEach(necessaryItem => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <th scope="row">${necessaryItem.id}</th>
                                <td>${necessaryItem ? necessaryItem.productCategory : 'Product details not found'}</td>
                                <td>${necessaryItem ? necessaryItem.productName : 'Product details not found'}</td>
                                <td>${necessaryItem.productQty}</td>
                                <td>${necessaryItem.productPrice}</td>
                                <td>${necessaryItem.supplierName}</td>
                            `;
                            productBody.appendChild(row);
                        });
                    } else {
                        // Display "No records found" message
                        const noRecordRow = document.createElement('tr');
                        noRecordRow.innerHTML = `
                            <td colspan="6">No records found</td>
                        `;
                        productBody.appendChild(noRecordRow);
                    }
                })
                .catch(error => console.error('Error fetching necessary items data:', error));


            selectElement.addEventListener('change', function () {
                const selectedId = selectElement.value;
                if (selectedId) {
                    fetch(`/api/appointment/appointment_details/${selectedId}/`)
                        .then(response => response.json())
                        .then(data => {
                            appointmentselected.value = selectedId;
                            appointmentDateInput.value = data.appointmentDate;
                            appointmentTimeInput.value = data.appointmentTime;
                            appointmentStatusInput.value = data.appointmentStatus;
                            customerNotesInput.value = data.customerNotes;

                            fetch(`/api/customer/${data.customersName}/`)
                                .then(response => response.json())
                                .then(customerData => {
                                    customersNameInput.value = `${customerData.customerLname}, ${customerData.customerFname} ${customerData.customerMname}`;
                                    customersGenderInput.value = `${customerData.customerGender}`;
                                    customersPhoneInput.value = `${customerData.customerPhone}`;
                                    customersEmailInput.value = `${customerData.customerEmail}`;
                                })
                                .catch(error => console.error('Error fetching additional customer data:', error));

                            fetch(`/api/inventory/necessaryitems/`)
                                .then(response => response.json())
                                .then(necessaryItemsData => {
                                    const tableBody = document.getElementById('tableBody');
                                    tableBody.innerHTML = ''; // Clear existing table rows

                                    if (necessaryItemsData.length > 0) {
                                        necessaryItemsData.forEach(necessaryItem => {
                                            console.log(necessaryItem.appointmentName, 'safasfs'); // Log each item's appointmentName

                                            if (necessaryItem.appointmentName == selectedId) {
                                                fetch(`/api/inventory/product/${necessaryItem.productName}`)
                                                    .then(response => response.json())
                                                    .then(productItemData => {
                                                        const row = document.createElement('tr');
                                                        row.innerHTML = `
                                                            <th scope="row">${necessaryItem.id}</th>
                                                            <td>${productItemData ? productItemData.productName : 'Product details not found'}</td>
                                                            <td>${necessaryItem.productQty}</td>
                                                        `;
                                                        tableBody.appendChild(row);
                                                    })
                                                    .catch(error => console.error('Error fetching product data:', error));
                                            }
                                        });
                                    } else {
                                        // Display "No records found" message
                                        const noRecordRow = document.createElement('tr');
                                        noRecordRow.innerHTML = `
                                            <td colspan="3">No records found</td>
                                        `;
                                        tableBody.appendChild(noRecordRow);
                                    }
                                })
                                .catch(error => console.error('Error fetching necessary items data:', error));

                        })
                        .catch(error => console.error('Error fetching appointment data:', error));
                } else {
                    // Clear input fields
                    customersNameInput.value = '';
                    customersGenderInput.value = '';
                    customersPhoneInput.value = '';
                    customersEmailInput.value = '';
                    appointmentDateInput.value = '';
                    appointmentTimeInput.value = '';
                    appointmentStatusInput.value = '';
                    customerNotesInput.value = '';
                    tableBody.innerHTML = ''; // Clear table rows
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
