<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <h1 class="helloWorldText">Customers Details:</h1>
    <hr>

    {% for i in customer %}
        Id: {{ i.id }} <br>
        First name: {{ i.customerFname }} <br>
        Middle name: {{ i.customerMname }} <br>
        Last name: {{ i.customerLname }} <br>
        Gender: {{ i.customerGender }} <br>
        Phone Number: {{ i.customerPhone }} <br>
        Email: {{ i.customerEmail }} <br>
        {% if not forloop.last %},<br> {% endif %}
    {% endfor %}


</body>

</html>