<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sir Jay's Clothing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
   
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/icon.ico' %}">

    <link rel="stylesheet" type="text/css" href='{% static "/style.css" %}'>
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div> 
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area header_area">
            <div class="main-header">
             <div class="header-bottom header-sticky">
                <!-- Logo -->
                <div class="logo">
                    <h1 style="font-weight: bolder;">Sir Jay's Clothing</h4>
                </div>
                <div class="header-left  d-flex f-right align-items-center">
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav> 
                            <ul id="navigation">                                                                                                                                     
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- left Btn -->
                    

                    {% if not logged_in %}   
                        <div class="header-right-btn f-right d-none d-lg-block  ml-30">
                            <a href="/account/login_page/" class="header-btn">Log In</a>
                        </div>
                    {% else %} 
                        <div class="header-right-btn f-right d-none d-lg-block  ml-30">  
                            <form id="logoutForm" action="/api/auth/logout/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="Authorization" value="Token {{ user_token }}"> 
                                    <!-- <a href="/account/login_page/" class="header-btn">Log In</a> -->
                                    <!-- <a type="submit" class="nav-link" >Logout</a> -->
                                    <button type="submit" class="header-btn" >Logout</button> 
                            </form>
                        </div>  
                    {% endif %} 
                </div>          
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? slider Area Start-->
    <div class="slider-area  position-relative ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider position-relative hero-overly slider-height  d-flex align-items-center" data-background="assets/img/hero/h1_hero.png">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption">
                            
                            <h1 data-animation="fadeInLeft" data-delay=".4s">We make clothes that suit you</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s">Do you need a tailor that offers best result when it comes to uniform? Come on down to Sir Jay's Clothing Shop! </p>
                            <!-- Hero Btn -->
                            <a href="/appointment_form/" class="btn"  data-animation="fadeInLeft" data-delay=".8s" >Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left img -->
            <div class="hero-img">
                <img src="{% static 'assets/img/sample cloth.jpg' %}" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div>
        </div>
       
</div>
</div>
<!-- slider Area End-->
<!--? Clients Offers Start -->
<div class="clients-area section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                    <div class="offers-img">
                        <img src="{% static 'assets/img/sewing.jpg' %}" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>1</span>
                        <h3><a href="services.html">Tailor Sewing</a></h3>
                        <p>Our shop has all the sewing equipment that tailors your every need</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s">
                    <div class="offers-img">
                        <img src="{% static 'assets/img/measuring.jpg' %}" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>2</span>
                        <h3><a href="services.html">Mesurement</a></h3>
                        <p>We measure our clients for better results</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".6s">
                    <div class="offers-img">
                        <img src="{% static 'assets/img/cnsc male uniform.jpg' %}" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>3</span>
                        <h3><a href="services.html">Ready-made</a></h3>
                        <p>We also offer ready-made uniforms!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients Offers End -->
<!--? Visit Our Tailor Start -->
<section class="visit-tailor-area fix" id="about">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        <h2>About our<br>tailor shop</h2>
        <p class="pera-top">Sir Jay's Clothing shop offers unique tailoring services especially when it comes to uniform</p>
        <p class="pera-bottom">Over the years, clients have continuously returned to us, drawn by our commitment to excellence 
            and our ability to deliver splendid results. Our experienced tailors are here to craft garments that will elevate your look and make you feel confident everytime you go to school</p>
        <a href="#" class="btn">More About Us</a>
    </div>
</section>
<!-- Visit Our Tailor End -->
<!--? Services Area Start -->
<section class="categories-area section-padding40" id="services">
    <div class="container">
        <!-- section Tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
                <div class="section-tittle text-center mb-60">
                    <h2>Why use our service?</h2>
                    <p>Here are the reasons why you should avail our services</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services1.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Precision Tailoring</h5>
                        <p> Our skilled tailors provide precision tailoring services, ensuring that every garment is crafted to fit you perfectly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services2.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Attention to Detail</h5>
                        <p> From intricate stitching to flawless finishes, our attention to detail sets us apart. 
                            We meticulously handcraft each piece to meet the highest standards of craftsmanship.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services3.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Timely Delivery</h5>
                        <p>We understand the importance of deadlines. With efficient workflow processes, 
                            we ensure timely delivery of your custom-made garments without compromising on quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services4.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Customer Satisfaction</h5>
                        <p>Your satisfaction is our top priority. We strive to exceed your expectations by delivering impeccable service 
                            and ensuring that you leave our shop feeling confident and satisfied.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--? Services Area End -->



</main>
<footer id="contact">
    <div class="footer-wrapper section-bg2 pl-100"  data-background="assets/img/gallery/footer_bg.png">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Sir Jay's Clothing Shop</p>
                                    </div>
                                    <ul class="mb-40">
                                        <li class="number"><a href="#">(+63) 993-664-7951</a></li>
                                        <li class="number2"><a href="#">(+63) 993-664-7951</a></li>
                                    </ul>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-facebook-messenger"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Our solutions</h4>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center">
                        <div class="col-xl-12 ">
                           
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
          <!-- Map -->
          <div class="map-area">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1621.8313941346219!2d122.94131939619886!3d14.08984461091553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sph!4v1715559384548!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
    </div>
</footer>
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static  './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static './assets/js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>
<script src="{% static './assets/js/jquery.countdown.min.js' %}"></script>
<script src="{% static './assets/js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>