<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function AlertInvalid() {
            Swal.fire({
                position: "center",
                icon: "error",
                title: "User not found...",
                showConfirmButton: false,
                timer: 1000
            }).then(() => {
                // Navigate to index.html after the alert
                window.location.href = "/account/login_page/";
            });
        }

        AlertInvalid();
    </script>
    
</body>
</html>