<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    
    <form method="POST" action="/api/auth/login/">
        {% csrf_token %}

        <input type="email" placeholder="Email" id="username" name="username"/><br><br>
        <input type="password" placeholder="Password" id="password" name="password"/><br><br>


        <input type="submit" value="Submit"/>
    </form>


    

</body>
</html>